@import "tailwindcss";

@layer base {
  body {
    background-color: #10141c;
    color: #f0f2f6;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

::selection {
  background-color: #f0f2f6;
  color: #10141c;
}
