@import "tailwindcss";

@layer base {
  body {
    background-color: #fafaf8;
    color: #111111;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

::selection {
  background-color: #111111;
  color: #fafaf8;
}
